version: '3.8'
services:
  redis:
    image: redis:7-alpine
    container_name: redis-standalone
    ports:
      - "6379:6379"
    volumes:
      - ./data:/data
      - ./conf/redis.conf:/usr/local/etc/redis/redis.conf
    command: redis-server /usr/local/etc/redis/redis.conf --appendonly yes --requirepass "yourpassword"
    restart: unless-stopped