server:
  servlet:
    session:
      timeout: 30m
      tracking-modes: cookie

spring:
  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8
    servlet:
      content-type: text/html
  web:
    resources:
      static-locations: classpath:/static/
  datasource:
    url: jdbc:postgresql://localhost:5432/boonya_db_game
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    hikari:
      allow-pool-suspension: true
      connection-timeout: 15000
      idle-timeout: 30000
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  data:
    redis:
      host: localhost
      port: 6379
      password:
      database: 0
      timeout: 2000ms
      lettuce:
        pool:
          max-active: 8
          max-wait: -1ms
          max-idle: 8
          min-idle: 0

# 缓存配置
cache:
  user:
    ttl: 30m
  session:
    ttl: 24h